<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Rails 101</a>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto  mb-2 mb-lg-0">
                <% if !current_user %>
                  <li class="nav-item p-2"><%= link_to("注册", new_user_registration_path) %> </li>
                  <li class="nav-item p-2"><%= link_to("登录", new_user_session_path) %></li>
                <% else %>
                  <li class=" nav-item dropdown">
                    <a class=" nav-link dropdown-toggle" href="#" id="navbarDropdown"  role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hi!, <%= current_user.email %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="dropdown-item"><%= link_to("My Groups", account_groups_path) %></li>
                        <li><hr class="dropdown-divider"></li>
                        <li class="dropdown-item"> <%= link_to("退出", destroy_user_session_path, method: :delete, ) %> </li>
                    </ul>
                  </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>